h1{
    text-align: center;
    background-color: rgb(120, 120, 240);
    border-radius: 25px;
    margin: 0;
    font-size: 40px;
    margin: 0px 10px 0px 10px;
}

.body-container{
    background-color: rgb(161, 126, 184);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
}

p{
    font-size: 23px;
}

h2{
    font-size: 35px;
    margin: 10px 5px 5px 0px;
}